<div class="container phone-book-wrapper">
  <h1 class="title">
    Welcome to phone-book!
  </h1>
  <div class="row search-box">
    <input type="text" class="form-control search-box__input" placeholder="Search ..." [(ngModel)]="searchText"/>
  </div>
  <ul class="phone-book">
    <li class="row phone-book__header">
      <div class="col-md-3 phone-book__header-item" (click)="setOrder('name')"><span>Name</span></div>
      <div class="col-md-3 phone-book__header-item" (click)="setOrder('phone_number')"><span>Phone number</span></div>
      <div class="col-md-6 phone-book__header-item" (click)="setOrder('address')"><span>Address</span></div>
    </li>
    <li *ngFor="let address of addresses | filter: searchText | orderBy: order : orderReverse" class="row phone-book__contacts">
      <div class="col-md-3">{{ address.name }}</div>
      <div class="col-md-3">{{ address.phone_number }}</div>
      <div class="col-md-6">{{ address.address }}</div>
    </li>
  </ul>
</div>
